<%= show_errors_for(student) %> <%# app/views/students/_form.html.erb  %>  <%# student not @student because this is a partial %>
<%= form_for student do |f| %>
  <p>
    <strong>  <%= f.label :name, "Name" %></strong>
    <%= f.text_field :name %>
  </p>
  <strong>  <%= f.label :phone_number, "Phone Number" %></strong>
  <%= f.text_field :phone_number %>
  <p>
    <strong><%= f.label :email, "Email Address" %></strong>
    <%= f.email_field :email %>
  </p>
  <%= f.submit %>
<% end %>
