<h1>List of Tutors</h1>
 <%# app/views/tutors/index.html.erb  %>
<button><%= link_to  "Add Tutor", new_tutor_path %></button>
<br>
<% @tutors.each do |tutor| %><br>
  <%= link_to tutor.name, tutor_path(tutor) %> <br>
  <%= tutor.phone_number  %>  <br>
  <%= mail_to tutor.email  %> <br>
  <%= pluralize(tutor.years_of_experience, "Year") %> Of Experience<br>
<% end %>
<br>
<div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/1xpm1nTQiRL96Di3Q6" width="25%" height="25%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
<p><a href="https://giphy.com/gifs/originals-dog-puppy-poster-1xpm1nTQiRL96Di3Q6"></a></p>
 
