<%= show_errors_for(appointment) %>
<%= form_for appointment do |f| %>
  <p>
    <% if appointment.student_id  %>
      <strong>  <%= f.label :student_id, "Student" %> </strong>
      <%= f.hidden_field :student_id %>
      <%= appointment.student.name  %>
    <% else %>
      <strong>  <%= f.label :student_id, "Student" %> </strong>
      <%= f.collection_select(:student_id, current_user.students, :id, :name) %>
    <% end %>
  </p>
  <p>
    <% if appointment.tutor_id %>
      <strong>  <%= f.label :tutor_id, "Tutor" %></strong>
      <%= f.hidden_field :tutor_id %>
      <%= appointment.tutor.name %>
    <% else %>
      <strong>   <%= f.label :tutor_id, "Tutor" %></strong>
      <%= f.collection_select :tutor_id, Tutor.all, :id, :name %>
    <% end %>
  </p>
  <p>
    <strong>  <%= f.label :subject %>  </strong>
    <%= f.text_field :subject %>
  </p>
  <p>
    <strong> <%= f.label :starting_date_and_time, "Starting Date and Time" %></strong>
    <%= f.datetime_field :starting_date_and_time %>
  </p>
  <p>
    <strong> <%= f.label :ending_date_and_time, "Ending Date and Time" %> </strong>
    <%= f.datetime_field :ending_date_and_time %>
  </p>
  <%= f.submit %>
<% end %>
