<h1>List of Appointments</h1>
<button><%= link_to  "Add Appointment", new_appointment_path %></button>
<% @appointments.each do |appointment| %>
  <p>
    Hello <%= link_to appointment.student.name, student_path(appointment.student) %>. 
    You have an appointment at <%= link_to appointment.starting_date_and_time.strftime("%b %e, %l:%M %p"), appointment_path(appointment) %>: 
    with <%= link_to appointment.tutor.name, tutor_path(appointment.tutor) %>. 
    The subject will be <% appointment_path(@appointment.subject)  %>
    Your appointment will end at <%= link_to appointment.ending_date_and_time.strftime("%b %e, %l:%M %p"), appointment_path(appointment) %>. 
  </p>
<% end %>

<%#UPDATE SUBJECT%> 
