<!DOCTYPE html> <%# app/views/layouts/application.html.erb  %>
<html>
  <head>
    <title>Flatiron Rails Tutor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: "shared/navbar" %>
    <% flash.each do |name, message|   %>
      <%= content_tag :div, message, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
